
.headercomponents {
    background-color: #1b004e;
    padding-top: 42px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 94px;
}

.headertopcontents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;

    & .leftcomponent {
        display: flex;
        align-items: center;

        & .logo {
            width: 26.5px;
            height: 30px;
        }

        & .logotext {
            color: white;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
        }
    }

    & .middlecomponent {
        & .navbar-toggler-icon {
            background-image: url('images/icons8-menu-50.png');

        }

        & .nav-item .text {
            color: white;
            font-size: 17px;
            line-height: 24px;
        }
    }

    & .rightcomponent {
        display: none;

        & .contentbutton {

            border: 2px solid #EB5757;
            background-color: transparent;
            border-radius: 50px;
            padding: 15px 30px;

            & .buttontext {

                font-weight: 500;
                font-size: 17px;
                line-height: 17px;
                color: white;
                text-align: center;

            }
        }

    }
}

.headermidcomponents {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .scrolimg{

       display: none;

    }
    & .rightcontent {
        display: none;
        & .coinsimg{
            width: 270.53px;
            height: 398.11px;
        }
    }

    & .leftcontent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & .firstdescription {
            color: white;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 13px;
        }

        & .seconddescription {
            color: white;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 20px;
        }

        & .contentbutton {
            padding: 7px 14px;
            background: #EB5757;
            border-radius: 50px;
            border: none;

            & .btntext {
                text-align: center;
                color: white;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

}

@media screen and (min-width: 992px) {

    .headercomponents {
        background-image: url('images/bg.png');
        padding-left: 135px;
        padding-right: 135px;

        & .headertopcontents {

           
            margin-bottom: 109.18px;

            & .leftcomponent {
                & .logo {
                    width: 35.34px;
                    height: 40px;
                }

                & .logotext {
                    font-size: 24px;
                    line-height: 24px;
                }
            }

            & .rightcomponent {
                display: block;
            }
        }

        & .headermidcomponents {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            & .scrolimg{
                display: block;
                position: absolute;
                top: 400px;
              
                left: 580px;

            }

            & .rightcontent {
                display: block; 
                
            }

            & .leftcontent {
                display: flex;
                flex-direction: column;
                align-items: start;
                text-align: start;

                & .firstdescription {
                    color: white;
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 90px;
                }

                & .seconddescription {
                    color: white;
                    font-size: 17px;
                    line-height: 28px;
                }

                & .contentbutton {
                    padding: 15px 30px;
                    background: #EB5757;
                    border-radius: 50px;
                    border: none;

                    & .btntext {

                        font-weight: 500;
                        font-size: 17px;
                        line-height: 17px;
                    }
                }
            }

        }
    
    }
   





}